.task-form {
  padding: 10px 100px;
}

.add-note {
  border: none;
  background-color: #d7c0ae;
  margin: 0px 5px;
  border-radius: 10px;
  padding: 5px 20px;
  width: fit-content;
  color: white;
}

.field-required {
  color: red;
  font-size: 13px;
}