table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #eee3cb;
}

th {
  background-color: #d7c0ae;
  color: white;
}

tr:hover {
  background-color: #b7c4cf;
}

.pagination {
  display: flex;
  justify-content: center;
}

.pagination button {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  border: none;
  background-color: white;
}

.pagination button:hover {
  background-color: #b7c4cf;
  border-radius: 5px;
}

.active-page {
  background-color: #d7c0ae !important;
  color: white !important;
  border-radius: 5px;
}

.add-note-div {
  margin: 10px 0px;
}
